.score {
  @include Flexx();
  @include Justifycontent(center);
  @include AlignItem(center);
  width: 100%;
  flex-direction: column;
  &__image {
    @include Shape(60px, 60px);
  }
  &__name {
    @include Font($f-fontsize-xl, 0, initial, $fontNunito, $c-white);
    border-top : 2px solid $c-Cerise;
    margin-top: 10px;
    padding-top: 8px;
  }
  &__wrapper {
    @include Flexx();
    @include Justifycontent(center);
    @include AlignItem(center);
    margin: 50px 0;
    width: 100%;
  }
  &__circle {
    @include Flexx();
    @include Justifycontent(center);
    @include AlignItem(center);
    @include Font($f-fontsize-xl, 0, initial, $fontNunito, $c-white);
    @include Shape(120px, 120px);
    @include Position(relative, initial, 150px, initial, initial);
    border: 2px solid $c-white;
    border-radius: 50%;
  }
  &__box {
    @include Flexx();
    @include Justifycontent(center);
    @include AlignItem(center);
    @include Shape(50px, 300px);
    @include Font($f-fontsize-l, 0, initial, $fontNunito, $c-white);
    @include Position(relative, initial, 120px, initial, initial);
  }
  &__button {
    @include Flexx();
    @include Justifycontent(center);
    @include AlignItem(center);
    @include Font($f-fontsize-l, 0, pointer, $fontNunito, $c-white);
    @include Shape(60px, 250px);
    border-radius: 10px;
    border: 2px solid $c-white;
  }
  &__arrow {
    @include Shape(30px, 30px);
    margin-left: 40px;
    transform: scaleX(-1);
  }
}

@media only screen and (max-width: 1000px) {
  .score {
    width: 100%;
    &__wrapper {
      flex-direction: column;
      margin-top: 40px
    }
    &__button {
      @include Shape(40px, 150px);
      font-size: $f-fontsize-m;
    }
    &__arrow {
      @include Shape(15px, 15px);
      margin-left: 10px;
    }
    &__image {
      @include Shape(40px, 40px);
      margin: 0px;
    }
    &__name {
      font-size: $f-fontsize-l;
      margin-top: 10px;
    }
    &__circle {
      @include Position(relative, initial, 0, initial, initial);
      @include Shape(80px, 80px);
      margin-top: 20px;
      font-size: $f-fontsize-l;
    }
    &__box {
      @include Position(relative, 0, initial, initial, 0);
      @include Shape(50px, 300px);
      font-size: $f-fontsize-l;
    }
  }
}