.arrows {
    display: none;
    width: 100%;
    &__buttonPrev,
    &__buttonNext {
        @include Flexx();
        @include Justifycontent(center);
        @include AlignItem(center);
        @include Shape(35px, 35px);
        cursor: pointer;
        margin: 5px;
        background-color: $c-VividViolet;
        opacity: 0.5;
        -webkit-transition: opacity 0.3s ease-in-out;
        -moz-transition: opacity 0.3s ease-in-out;
        -ms-transition: opacity 0.3s ease-in-out;
        -o-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
    }
    &__buttonPrev:hover,
    &__buttonNext:hover {
        opacity: 1;
    }
    &__imageLeft {
        @include Shape(20px, 20px);
    }
    &__imageRight {
        @include Shape(20px, 20px);
        transform: rotate(-180deg);
    }
}

@media only screen and (max-width: 1000px) {
    .arrows {
        @include Flexx();
    }
}
  