.dnd {
    @include Flexx();
    @include AlignItem(center);
    @include Justifycontent(center);
    @include Shape(300px, 100%);
    position: relative;
    &__imageOne {
        @include Position(absolute, -50px, initial, 20px, initial);
        @include Shape(35px, 35px);
        animation-name: example;
        animation-duration: 1.5s;
    }
    &__imageTwo {
      @include Position(absolute, -50px, initial, 20px, initial);
      @include Shape(35px, 35px);
  }
}

.movable__item,
.movable__itemTwo {
  @include Flexx();
  @include Shape(70px, 200px);
  border-radius: 5px;
  border: 2px solid $c-white;
  margin: 10px;
  cursor: pointer;
}

.movable__itemTwo {
  pointer-events: none;
  opacity: 0.5;
}

.movable__text {
  @include Font($f-fontsize-l, 0, initial, $fontNunito, $c-white);
  padding: 5px;
}

@media only screen and (max-width: 1000px) {
    .dnd {
      &__imageOne,
      &__imageTwo {
        @include Position(absolute, -30px, initial, 10px, initial);
        @include Shape(20px, 20px);
      }
    }
    .movable__text {
      font-size: $f-fontsize-m;
    }
    .movable__item,
    .movable__itemTwo {
      @include Shape(40px, 150px);
      margin: 5px;
    }
  }

@-webkit-keyframes example {
  0%   {opacity: 0;}
  25%  {opacity: 0;}
  50%  {opacity: 0;}
  75%  {opacity: 1;}
  100% {opacity: 1;}
}
  
@keyframes example {
  0%   {opacity: 0;}
  25%  {opacity: 0;}
  50%  {opacity: 0;}
  75%  {opacity: 1;}
  100% {opacity: 1;}
}