.questions {
  @include Flexx();
  @include AlignItem(center);
  @include Justifycontent(center);
  margin-top: 50px;
  width: 100%;
  flex-direction: column;
  &__wrapper {
    width: 690px;
  }
  &__text {
    @include Font($f-fontsize-l, 0, initial, $fontNunito, $c-white);
    margin-left: 5px;
  }
}

@media only screen and (max-width: 1000px) {
  .questions {
    margin-top: 0px;
    &__wrapper {
      @include FlexWrap();
      width: 80%;
    }
    &__text {
      font-size: $f-fontsize-m;
    }
  }
}
