.answers {
  @include Flexx();
  @include AlignItem(center);
  @include Justifycontent(flex-start);
  @include FlexWrap();
  margin-top: 50px;
  &__box {
    position: relative;
  }
  &__button {
    @include Font($f-fontsize-l, 0, initial, $fontNunito, $c-white);
    @include Shape(70px, 200px);
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid $c-white;
  }
  &__imageOne {
    @include Position(absolute, initial, 15px, 15px, initial);
    @include Shape(25px, 25px);
    animation-name: example;
    animation-duration: 1.5s;
    z-index: 1;
  }
  &__imageTwo {
    @include Position(absolute, initial, 15px, 15px, initial);
    @include Shape(25px, 25px);
    z-index: 1;
  }
}

@media only screen and (max-width: 1000px) {
  .answers {
    &__button {
      @include Shape(40px, 150px);
      font-size: $f-fontsize-m;
      margin: 5px;
    }
    &__imageOne,
    &__imageTwo {
      @include Position(absolute, initial, 10px, 10px, initial);
      @include Shape(15px, 15px);
    }
  }
}

@-webkit-keyframes example {
  0%   {opacity: 0;}
  25%  {opacity: 0;}
  50%  {opacity: 0;}
  75%  {opacity: 1;}
  100% {opacity: 1;}
}

@keyframes example {
  0%   {opacity: 0;}
  25%  {opacity: 0;}
  50%  {opacity: 0;}
  75%  {opacity: 1;}
  100% {opacity: 1;}
}