.container {
  @include Shape(900px, 100%);
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  &__spinner {
    @include Flexx();
    @include Justifycontent(center);
    @include AlignItem(center);
    height: 100vh;
    width: 100%;
    background-color: #4a0d6d;
  }
  &__main {
    @include Position(absolute, initial, 0, 0, initial);
    @include Shape(100%, 100%);
  }
  &__image {
    @include Shape(100%, 100%);
    object-fit: cover;
  }
  &__logo {
    @include Shape(60px, 60px);
    margin: 10px 5px;
  }
  &__wrapper {
    @include Flexx();
    @include Justifycontent(center);
    @include AlignItem(center);
    position: relative;
    width: 100%;
  }
  &__navigation {
    @include Position(absolute, initial, 0, 0, initial);
  }
  &__title {
    @include Font($f-fontsize-xxl + 30, 0, initial, $fontGluten, $c-white);
  }
  &__button {
    @include Shape(60px, 60px);
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 15px 5px;
  }
  &__buttonMenu {
    @include Shape(30px, 40px);
    @include Position(absolute, initial, 18px, 8px, initial);
    background-color: transparent;
    cursor: pointer;
    border: none;
  }
  &__buttonBack {
    @include Shape(30px, 40px);
    @include Position(absolute, initial, 50px, 8px, initial);
    background-color: transparent;
    cursor: pointer;
    border: none;
  }
  &__icon {
    @include Shape(100%, 100%);
  }
  &__gradient {
    @include Flexx();
    @include Justifycontent(center);
    @include AlignItem(center);
    @include Shape(60px, 500px);
    @include Font($f-fontsize-l, 0, initial, $fontNunito, $c-white);
    margin: 50px auto;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    &__gradient {
      @include Shape(30px, 300px);
      font-size: $f-fontsize-s;
      margin: 30px auto;
    }
    &__buttonBack,
    &__buttonMenu {
      @include Shape(20px, 30px);
    }
    &__buttonBack {
      @include Position(absolute, initial, 40px, 8px, initial);
    }
    &__logo {
      @include Shape(40px, 40px);
    }
    &__title {
      font-size: $f-fontsize-xxl;
    }
  }
}
