.column {
  @include Flexx();
  @include FlexWrap();
  margin-bottom: 50px;
  &__progress {
    @include Shape(74px, 200px);
    @include Position(relative, 110px, initial, initial, initial);
    border: 2px solid $c-white;
    border-radius: 5px;
  }
  &__doIt {
    @include Flexx();
    @include FlexWrap();
  }
}

.column__progress > div {
  @include Shape(74px, 200px);
  margin: 0px;
  border: none;
  opacity: 1;
}

@media only screen and (max-width: 1000px) {
  .column {
    &__progress {
      @include Shape(40px, 150px);
      @include Position(relative, 50px, initial, initial, initial);
      margin-bottom: 40px;
    }
    &__progress > div {
      @include Shape(40px, 150px);
      margin: 0px;
    }
  }
}
