a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.preload-images {
  display: none;
}

.preload-images img {
  display: none;
}

.item__culture {
  background: linear-gradient(90deg, $c-MountainMist, transparent) $c-Chatelle;
}

.item__automotive {
  background: linear-gradient(90deg, $c-CherryPie, transparent) $c-PersianBlue;
}

.item__technology,
.item__programming {
  background: linear-gradient(90deg, $c-Clairvoyant, transparent) $c-VioletEggplant;
}

.item__history {
  background: linear-gradient(90deg, $c-Mondo, transparent) $c-Teak;
}

.button__culture {
  background: linear-gradient(90deg, $c-MountainMist, transparent) $c-Chatelle;
  transition: background-color 0.3s;
}

.button__culture:hover {
  background-color: $c-MountainMist;
}

.button__automotive {
  background: linear-gradient(90deg, $c-CherryPie, transparent) $c-PersianBlue;
  transition: background-color 0.3s;
}

.button__automotive:hover {
  background-color: $c-CherryPie;
}

.button__programming,
.button__technology {
  background: linear-gradient(90deg, $c-Clairvoyant, transparent) $c-VioletEggplant;
  transition: background-color 0.3s;
}

.button__programming:hover,
.button__technology:hover {
  background-color: $c-Clairvoyant;
}

.button__history {
  background: linear-gradient(90deg, $c-Mondo, transparent) $c-Teak;
  transition: background-color 0.3s;
}

.button__history:hover {
  background-color: $c-Mondo;
}

.shadow__culture {
  background-image: linear-gradient(to right, rgba(240, 255, 255, 0) , rgba(240, 255, 255, 0.538), rgba(31, 34, 205, 0));
}

.shadow__automotive {
  background-image: linear-gradient(to right, rgba(31, 34, 205, 0) , rgba(31, 34, 205, 0.661), rgba(31, 34, 205, 0));
}

.shadow__programming,
.shadow__technology {
  background-image: linear-gradient(to right, rgba(152, 13, 202, 0) , rgba(152, 13, 202, 0.538), rgba(31, 34, 205, 0));
}

.shadow__history {
  background-image: linear-gradient(to right, rgba(191, 156, 104, 0) , rgba(191, 156, 104, 0.544), rgba(31, 34, 205, 0));
}

.button__notActive {
  @include Font($f-fontsize-l, 0, initial, $fontNunito, $c-white);
  @include Shape(70px, 200px);
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid $c-white;
  opacity: 0.5;
  pointer-events: none;
}

@media only screen and (max-width: 1000px) {
  .button__notActive {
    @include Shape(40px, 150px);
    font-size: $f-fontsize-m;
    margin: 5px;
  }
}