@mixin Position ($position: 'relative', $left: 0, $right: 0, $top: 0, $bottom: 0) {
    position: $position;
    left: $left;
    right: $right;
    top: $top;
    bottom: $bottom;
}

@mixin Flexx {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
}

@mixin Justifycontent($value: center) {
    @if $value == flex-start {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
    } @else if $value == flex-end {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
    } @else if $value == center {
        -webkit-box-pack: center;
        -ms-flex-pack: center; 
    } @else if $value == space-between {
        -webkit-box-pack: space-between;
        -ms-flex-pack: space-between;    
    } @else {
        -webkit-box-pack: $value;
        -ms-flex-pack: $value;
    }
    -webkit-justify-content: $value;
    -moz-justify-content: $value;
    justify-content: $value;
}

@mixin AlignItem($value: center) {
    @if $value == flex-start {
        -webkit-box-align: flex-start;
        -ms-flex-align: flex-start;
    } @else if $value == flex-end {
        -webkit-box-align: flex-end;
        -ms-flex-align: flex-end;
    } @else if $value == center {
        -webkit-box-align: center;
        -ms-flex-align: center;     
    } @else {
        -webkit-box-pack: $value;
        -ms-flex-pack: $value;
    }
    -webkit-box-align: $value; 
    -ms-flex-align: $value; 
    align-items: $value;
}

@mixin Shape ($height: 0, $width: 0) {
    height: $height;
    width: $width;
}

@mixin Font ($fontSize: 0, $margin: 0, $cursor: "none", $fontfamily: "none", $color: "none") {
    font-size: $fontSize;
    margin: $margin;
    cursor: $cursor;
    font-family: $fontfamily;
    color: $color;
}

@mixin Transition($transition: background-color 200ms linear) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    -ms-transition: $transition;
    transition: $transition;
}

@mixin BoxShadow($boxShadow: 2px 2px 6px 0 black) {
    -webkit-box-shadow: $boxShadow;
    box-shadow: $boxShadow;
}

@mixin Border ($border: "solid 2px white", $borderradius : "0") {
    border: $border;
    border-radius: $borderradius;
}

@mixin FlexWrap {
    flex-wrap: wrap;  
    -ms-flex-wrap: wrap;
}
