$c-white: #FFFFFF;
$c-black: #000000;
$c-Clairvoyant: #440b64;
$c-Windsor: #4a0d6d;
$c-VioletEggplant: #96158f;
$c-Loulou: #530F51;
$c-Chatelle: #C6BBCC;
$c-MountainMist: #949296;
$c-Ultramarine: #110F8A;
$c-CherryPie: #1B0557;
$c-PersianBlue: #2724BB;
$c-Mondo: #443829;
$c-Domino: #8B725D;
$c-Teak: #b48f64;
$c-Cerise: #C72379;
$c-VividViolet: #aa3bb1;
$c-RipePlum: #39015a;

$f-fontsize-xxl: 35px;
$f-fontsize-xl: 30px;
$f-fontsize-x: 25px;
$f-fontsize-l: 15px;
$f-fontsize-m: 12px;
$f-fontsize-s: 9px;

$fontRakkas: "Rakkas", cursive;
$fontNunito: 'Nunito', sans-serif;
$fontGluten: 'Gluten', cursive;
$fontKosugi: 'Kosugi', sans-serif
