.start {
  @include Flexx();
  @include AlignItem(center);
  flex-direction: column;
  &__icon {
    @include Shape(60px, 60px);
  }
  &__button {
    @include Flexx();
    @include Justifycontent(center);
    @include AlignItem(center);
    @include Shape(60px, 200px);
    @include Font($f-fontsize-l, 0, pointer, $fontNunito, $c-white);
    border-radius: 10px;
    margin-top: 40px;
    border: 2px solid $c-white;
  }
  &__arrow {
    @include Shape(30px, 30px);
    margin-left: 40px;
    transform: scaleX(-1);
  }
  &__title {
    @include Font($f-fontsize-xl, 0, initial, $fontNunito, $c-white);
    border-top : 2px solid $c-Cerise;
    margin-top: 10px;
    padding-top: 8px;
  }
}

@media only screen and (max-width: 1000px) {
  .start {
    &__icon {
      @include Shape(40px, 40px);
    }
    &__title {
      font-size: $f-fontsize-l;

    }
    &__button {
        font-size: $f-fontsize-m;
        @include Shape(40px, 150px);
        border-radius: 7px;
        margin-top: 30px;
    }
    &__arrow {
        @include Shape(15px, 15px);
        margin-left: 30px;
    }
  }
}
