.nav {
  @include Flexx();
  @include AlignItem(center);
  @include Justifycontent(center);
  @include Position(absolute, initial, 0, 150px, initial);
  flex-direction: column;
  &__wrapper {
    @include Flexx();
    @include AlignItem(center);
    @include Justifycontent(center);
    @include Shape(100%, 100%);
    @include FlexWrap();
  }
  &__title {
    @include Font($f-fontsize-l, 0, initial, $fontNunito, $c-white);
    @include Position(relative, initial, 20px, initial, initial);
  }
  &__menu {
    @include Flexx();
    @include AlignItem(center);
    @include Justifycontent(center);
    @include FlexWrap();
    width: 100%;
    padding: 0;
    margin-right: 18px;
    list-style-type: none;
  }
  &__item,
  &__itemTwo {
    @include Flexx();
    @include Justifycontent(center);
    @include Shape(110px, 110px);
    @include BoxShadow(5px 5px 5px 5px rgba(0, 0, 0, 0.611));
    transition: background-color 0.3s;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid $c-white;
  }
  &__itemTwo {
    background: linear-gradient(90deg, $c-Clairvoyant, transparent) $c-VioletEggplant;
    transition: background-color 0.3s;
  }
  &__itemTwo:hover {
    background-color: $c-Clairvoyant;
  }
  &__image {
    @include Shape(50px, 50px);
  }
  &__name {
    @include Font($f-fontsize-m, 0, pointer, $fontNunito, $c-white);
    border-top: 2px solid $c-Cerise;
    margin-top: 10px;
    padding-top: 8px;
    text-align: left;
  }
  &__link {
    @include Flexx();
    @include AlignItem(center);
    @include Justifycontent(center);
    transition: background-color 1s;
  }
  &__slider {
    @include Flexx();
    @include Justifycontent(center);
    @include AlignItem(center);
    width: 130px;
    flex-direction: column;
  }
  &__sliderOff {
    @include Flexx();
    @include Justifycontent(center);
    @include AlignItem(center);
    @include FlexWrap();
  }
}

.navMain {
  @include Flexx();
  @include AlignItem(center);
  @include Justifycontent(center);
}

.swiper {
  width: 100%;
}

.swiper-container {
  @include Shape(100%, 100%);
  width: 100%;
  height: 100%;
}

.swiper-slide {
  @include Flexx();
  @include AlignItem(center);
  @include Justifycontent(center);
}

@media only screen and (max-width: 1000px) {
  .nav {
    @include Position(absolute, 0, 0, initial, 0);
    width: 100%;
    &__item,
    &__itemTwo {
      @include Shape(80px, 80px);
    }
    &__name {
      font-size: $f-fontsize-s;
    }
    &__image {
      @include Shape(35px, 35px);
    }
    &__title {
      @include Position(relative, initial, 0, initial, initial);
      font-size: $f-fontsize-m;
      text-align: center;
      width: 100%;
    }
  }
}
